
$start-end-background-color: #0e0e0e;
$nav-background-color:#ffffff;
$brand-dc-color: #0c7cec;
$selected-and-bluBanner-background-color: #0282f9;
$background-footer:#303030;
$text-color: #595958;
$myContent-section-background: #1c1c1c;
$myContent-text-color: white;
$myFooterTop-title-color: white;
$myFooterTop-text-color: #7b7b7b;
$myFooterBottom-text-button-color: white;